<%- include("partials/header.ejs") %>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/images/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>As a diligent second-year engineering student at Madhav Institute of Technology and Science, Gwalior, I hail from the Jhabua district of Madhya Pradesh. Passionate about technology and its potential to transform lives, I am currently immersing myself in the world of web development. I have already demonstrated my skills by creating clone pages of popular websites like Instagram and Amazon, and even a blog website.</p>
                        <p>A problem-solver at heart, I have solved over 230 problems on platforms like Geeks for Geeks and LeetCode, honing my coding skills and analytical thinking. My commitment to continuous learning is evident in my completion of the 100 Days of Python Bootcamp by Angela Yu. This intensive program equipped me with valuable knowledge about automation, enabling me to automate various tasks on platforms like Instagram and Twitter.</p>
                        <p>My exploration of APIs has led me to work with a variety of them, including health and flight APIs. I have successfully integrated these APIs into different capstone projects, showcasing my ability to work with diverse technologies. As I continue my journey in the tech world, I am excited about the endless possibilities that lie ahead. Let me know if you need further assistance!</p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->

        <%- include("partials/footer.ejs") %>