<% for(let i=0;i<blog.length;i++) { %>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="/post">
                        <h2 class="post-title"><%= blog[i].title %></h2>
                        <h3 class="post-subtitle"><%= blog[i].subtitle %></h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!"><%= blog[i].name %></a>
                        on <%= blog[i].date %>
                    </p>
                </div>
                
                <!-- Divider-->
                <hr class="my-4" />
            
            <% } %>